{% extends 'base.html.twig' %}

{% block title %}Creation produit!{% endblock %}

{% block body %}
<style>

.divForm{
        width:500px;
        margin-left:25%;
        margin-top:50px;

}
h1{
    text-align:center;
}
</style>

<div class="divForm">
<h1>Contactez nous! </h1>

{{ form_start(form)}}
{{ form_row(form.nom ,{'attr':{'placeholder':"Nom", 'class':"field", 'id':""}})}}
{{ form_row(form.prenom,{'attr':{'placeholder':"Prenom", 'class':"field", 'id':""}})}}
{{ form_row(form.email,{'attr':{'placeholder':"xxx.xxx@yy.yyy", 'class':"field", 'id':""}})}}
{{ form_row(form.tel,{'attr':{'placeholder':"Tel", 'class':"field", 'id':""}})}}
{{ form_row(form.objet,{'attr':{'placeholder':"objet", 'class':"field", 'id':""}})}}
{{ form_row(form.msg,{'attr':{'placeholder':"Ecrivez votre message ici", 'class':"field", 'id':""}})}}

<button type="submit" class="btn btn-primary" id="">Envoyer</button>
{{ form_end(form)}}


{% endblock %}