{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}

<style>
img{
    width:300px;
    height:200px;
}
#prod{
    margin-right:350px;
    margin-left:350px;
   margin-top:50px;


}
</style>
 {% for produit in produits %}

<produit>
<div id="prod">
    <img src='img/{{ produit.getImage() }}'/>
    <h6>{{ produit.getTitre() }}</h6>
    <h6>{{ produit.getPrix() }} DT</h6>
    <a href="{{path('desc', {'id':produit.id})}}" class="btn btn-primary">Lire la suite</a>
    <a href="{{path('modification', {'id':produit.id})}}" class="btn btn-success">Modifier</a>
    <a href="{{path('suppression', {'id':produit.id})}}" class="btn btn-warning" onclick="return confirm('Voulez vous vraiment supprimer ce produit?')">Supprimer</a>
</div>

</produit>
{% endfor %}

 <div class="navigation">
            {{ knp_pagination_render(produits) }}
        </div>
{% endblock %}